#cmstable {
  border-collapse: collapse;
}

table {
  background-color: white;
  width: 100%;
  border: 1px solid #a7c942;
  border-collapse: collapse;
  cellspacing: 0;
}

table tr {
  border: 1px solid #a7c942;
}

table tr:nth-child(even) {
  background-color: #eaf2d3;
}

table tr:hover {
  background-color: #E5FAB6;
}

table td {
  border: 1px solid #a7c942;
  padding: 5px;
  font-size: 12px;
}

table th {
  background-color: #a7c942;
  padding: 5px 3px;
  font-size: 14px;
  width: auto;
}

.ion-arrow-up-b {
  font-size: 18px;
  color: #305C01;
}

.ion-arrow-up-b:hover {
  cursor: pointer;
  color: #5C0FBA;
}

.ion-arrow-down-b {
  font-size: 18px;
  color: #305C01;
}

.ion-arrow-down-b:hover {
  cursor: pointer;
  color: #5C0FBA;
}

.ion-grid {
  font-size: 25px;
  color: #7AE820;
  cursor: pointer;
}

.ion-eye {
  font-size: 25px;
  color: #7AE820;
}

.ion-eye:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-toggle-filled {
  font-size: 25px;
  color: #7AE820;
}

.ion-toggle-filled:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-sad-outline {
  font-size: 25px;
  color: #FF003C;
}

.ion-sad-outline:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-happy-outline {
  font-size: 25px;
  color: #5500FF;
}

.ion-happy-outline:hover {
  cursor: pointer;
  color: #FF003C;
}

.ion-compose {
  font-size: 25px;
  color: #7AE820;
}

.ion-compose:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-ios-refresh {
  font-size: 26px;
  color: #a7c942;
}

.ion-ios-refresh:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-ios-plus {
  font-size: 26px;
  color: #a7c942;
}

.ion-ios-plus:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-gear-b {
  font-size: 26px;
  color: #7300FF;
}

.ion-gear-b:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-model-s {
  font-size: 26px;
  color: #7300FF;
}

.ion-model-s:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-cash {
  font-size: 26px;
  color: #7300FF;
}

.ion-cash:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-fireball {
  font-size: 26px;
  color: #FF2A00;
}

.ion-fireball:hover {
  cursor: pointer;
  color: #0062FF;
}

.ion-bonfire {
  font-size: 26px;
  color: #7300FF;
}

.ion-bonfire:hover {
  cursor: pointer;
  color: #305C01;
}

.ion-minus-round {
  font-size: 26px;
  color: #0062FF;
}

.ion-minus-round:hover {
  cursor: pointer;
  color: #FF2A00;
}
