input[type="button"] {
  background-color: #a7c942;
  border: 1px solid #a7c942;
  border-radius: 4px;
  height: 25px;
  margin-top: -28px;
  padding: 0 4px;
}

input[type="button"]:hover {
  background-color: #305C01;
  color: #fff;
}

input[type="submit"] {
  background-color: #a7c942;
  border: 1px solid #a7c942;
  border-radius: 4px;
  height: 25px;
  padding: 0 4px;
}

input[type="submit"]:hover {
  background-color: #305C01;
  color: #fff;
}

input[type="reset"] {
  background-color: #a7c942;
  border: 1px solid #a7c942;
  border-radius: 4px;
  height: 25px;
  margin-top: -28px;
  padding: 0 5px;
}

input[type="reset"]:hover {
  background-color: red;
  color: #fff;
}

input[type="text"] {
  background-color: #ECFCEB;
  border: 1px solid #305C01;
  border-radius: 4px;
  padding: 0 4px;
  height: 25px;
}

input[type="password"] {
  background-color: #ECFCEB;
  border: 1px solid #305C01;
  border-radius: 4px;
  padding: 0 4px;
  height: 25px;
}

select {
  background-color: #ECFCEB;
  border: 1px solid #305C01;
  border-radius: 4px;
  padding: 0 4px;
  height: 25px;
}

select option {
  background-color: #ECFCEB;
  padding: 0 4px;
}
