html
	head
		title cms afterLogin
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="author" content="widhadi agus wahyu prakoso a.k.a scs[Doctor]")
		link(rel="stylesheet" href="css/cms.css")
		link(rel="stylesheet" href="css/cms_table.css")
		link(rel="stylesheet" href="css/checkbox.css")
		link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		script(src="../lib/js/jquery-1.11.0.min.js")
		script(src="lib/js/tableSorter.js")
		script(src="lib/js/cms_table.js")
body
	#header
		.logo
			a(href="#" target="_self") REFRESH
				span in

	#container
		.sidebar
			#nav
				ul
					li
						a(href="#") Dashborad
					li
						a(href="#" class="active") Data Master
					li
						a(href="#") etc
						ul
							li
								a(href="#") submenu
							li
								a(href="#" class="active") submenu
							li
								a(href="#") submenu
					li
						a(href="#") etc
						
		.content
			H3 selamat datang di cms refreshin.com
			p lets go outside
			.box
				.box-top lalalala
					
				.box-content Lorem ipsum dolor sit amet, dolor ubique id his. Oblique alterum fierent vis no, scripta interpretaris te eam. Vel alii altera albucius ei. Euripidis splendide pri eu. Nam an apeirian elaboraret.
			.table_filter
				select(id="fcari" name="fcari")
					option(name="a" value="a") a
			.fixed-table-container
				.header-background
				.fixed-table-container-inner
					table(id="tsort" class="tablesorter")
						thead
							tr 
								th(class="first header headerSortUp")
									.th-inner 
										span asdw
										span(class="sortArrow")
								th(class="header")
									.th-inner
										span asde
										span(class="sortArrow")
								th(class="header")
									.th-inner
										span asdr
										span(class="sortArrow")
								th(class="header")
									.th-inner
										span asdt
										span(class="sortArrow")
						tbody
							tr(class="odd")
								td asd1
								td asd2
								td asd3aaaaaaaaaaaaaaaaa
								td asd4
							tr(class="even")
								td asd1
								td 
									input(type="checkbox" id="test1")
									label(for="test1")
								td asd3
								td
									a(href="google.com") google
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="odd")
								td asd1
								td asd2
								td asd3
								td asd4
							tr(class="even")
								td asd1
								td asd2
								td asd3
								td asd4