doctype html
html
  head
    title Refreshin CMS
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="author" content="widhadi agus wahyu prakoso a.k.a scs[Doctor]")
    link(rel="stylesheet" href="css/cms.css")
    <!--link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")-->
  body
    .splash
      #form-div
        p#judul-cms CM. SYSTEM
        form
          input(id="itext-username" name="uname" type="text" placeholder="USER NAME")
          input(id="itext-password" name="pwdx" type="password" placeholder="PASSWORD")
          input(id="ibutt-login" type="button" value="LOGIN")